<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceBusSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceBusSoap1" />
                <binding name="ServiceGEOSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceGEOSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ServiceBusSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
                <binding name="ServiceGEOSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://servicios.emtmadrid.es:8443/bus/servicebus.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceBusSoap"
                contract="WS_TraficoMadrid_ServiceBUS.ServiceBusSoap" name="ServiceBusSoap" />
            <endpoint address="https://servicios.emtmadrid.es:8443/bus/servicebus.asmx"
                binding="customBinding" bindingConfiguration="ServiceBusSoap12"
                contract="WS_TraficoMadrid_ServiceBUS.ServiceBusSoap" name="ServiceBusSoap12" />
            <endpoint address="https://servicios.emtmadrid.es:8443/geo/servicegeo.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceGEOSoap"
                contract="WS_TraficoMadrid_ServiceGEO.ServiceGEOSoap" name="ServiceGEOSoap" />
            <endpoint address="https://servicios.emtmadrid.es:8443/geo/servicegeo.asmx"
                binding="customBinding" bindingConfiguration="ServiceGEOSoap12"
                contract="WS_TraficoMadrid_ServiceGEO.ServiceGEOSoap" name="ServiceGEOSoap12" />
        </client>
    </system.serviceModel>
</configuration>